.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

a.card {
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--vp-c-divider);
  border-radius: 12px;
  background: var(--vp-c-bg-soft);
  transition: border-color 0.2s;
}

.card:hover {
  border-color: var(--vp-c-brand);
}

.card-media {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 10;
  background-color: var(--vp-c-bg);
}

.card-media > svg {
  width: 100%;
  height: 100%;
  fill: var(--vp-c-text-1);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--vp-c-divider);
  padding: 1rem;
  color: var(--vp-c-text-1);
}

.card-content h3 {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

.card-content p {
  margin: 0;
  flex-grow: 1;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}
