td[data-range="middle"] {
  background-color: color-mix(in oklab, var(--primary) 20%, var(--color-background));
  color: var(--color-foreground);
  border-radius: 0;
  box-shadow: -0.25rem 0 0 color-mix(in oklab, var(--primary) 20%, transparent);
}

td[data-range="middle"]:has(+ td[data-range="end"]) {
  box-shadow:
    -0.25rem 0 0 color-mix(in oklab, var(--primary) 20%, transparent),
    0.25rem 0 0 color-mix(in oklab, var(--primary) 20%, transparent);
}

td[data-range="middle"]:hover {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-foreground);
}
