@import "tailwindcss";
@import "nouislider/dist/nouislider.min.css";
@import "./slider.css";
@import "./harmonia.css";
@source "../**/*.{ts,tsx,js,jsx}";
@source not "../../docs/";

@custom-variant dark (&:where(.dark, .dark *));

:root,
:host {
  --background: oklch(1 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --primary-hover: oklch(0.664 0.1651 259.83);
  --primary-active: oklch(0.5768 0.1721 259.73);
  --secondary: oklch(0.9308 0.0029 264.54);
  --secondary-foreground: oklch(0.3211 0 0);
  --secondary-hover: oklch(0.9516 0.0017 247.84);
  --secondary-active: oklch(0.8605 0.003 264.54);
  --muted: oklch(0.9516 0.0017 247.84);
  --muted-foreground: oklch(0.556 0 0);

  --border: oklch(0.9 0 0);
  --input-border: oklch(0.9 0 0);
  --input-background: oklch(1 0 0);
  --ring: oklch(0.6231 0.188 259.8145);

  --negative: oklch(0.6268 0.2133 19.36);
  --negative-foreground: oklch(1 0 0);
  --negative-hover: oklch(0.6568 0.1921 16.84);
  --negative-active: oklch(0.5711 0.1931 19.34);
  --positive: oklch(0.6509 0.1491 158.94);
  --positive-foreground: oklch(1 0 0);
  --positive-hover: oklch(0.6843 0.1413 162.42);
  --positive-active: oklch(0.6025 0.1376 159.06);
  --warning: oklch(0.6962 0.1955 32.32);
  --warning-foreground: oklch(1 0 0);
  --warning-hover: oklch(0.724 0.1723 32.05);
  --warning-active: oklch(0.6447 0.1802 32.22);
  --information: oklch(0.652 0.1901 253.21);
  --information-foreground: oklch(1 0 0);
  --information-hover: oklch(0.6857 0.1709 251.52);
  --information-active: oklch(0.6047 0.1749 253.06);

  --sidebar: oklch(0.9846 0.0017 247.8389);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-secondary: oklch(0.9276 0.0058 264.5313);
  --sidebar-secondary-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9 0 0);

  --object-header: oklch(0.9754 0.0011 197.14);
  --object-header-foreground: oklch(0.3211 0 0);

  --table-header: oklch(0.9754 0.0011 197.14);
  --table-header-foreground: oklch(0.3211 0 0);
  --table-hover: oklch(0.9604 0.0011 197.14);
  --table-hover-foreground: oklch(0.3211 0 0);
  --table-active: oklch(0.9393 0.0011 197.14);
  --table-active-foreground: oklch(0.3211 0 0);

  --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --tracking-normal: -0.025em;

  --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 3px -2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);

  --shadow-control: var(--shadow-xs);

  --radius-control: 0.5rem;
  --radius: 0.625rem;

  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1776 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.22 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.24 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.5768 0.1721 259.73);
  --primary-foreground: oklch(1 0 0);
  --primary-hover: oklch(0.625 0.1504 259.37);
  --primary-active: oklch(0.526 0.1544 259.72);
  --secondary: oklch(0.28 0 0);
  --secondary-foreground: oklch(1 0 0);
  --secondary-hover: oklch(0.3829 0 0);
  --secondary-active: oklch(0.2562 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.709 0 0);

  --border: oklch(0.3 0 0);
  --input-border: oklch(0.3 0 0);
  --input-background: oklch(0.2 0 0);
  --ring: oklch(0.5768 0.1721 259.73);

  --negative: oklch(0.4817 0.1805 24.53);
  --negative-foreground: oklch(1 0 0);
  --negative-hover: oklch(0.5264 0.166 21.28);
  --negative-active: oklch(0.4389 0.1631 24.18);
  --positive: oklch(0.601 0.1305 156.37);
  --positive-foreground: oklch(1 0 0);
  --positive-hover: oklch(0.6442 0.1185 158.5);
  --positive-active: oklch(0.5483 0.1178 156.7);
  --warning: oklch(0.5905 0.1634 32.14);
  --warning-foreground: oklch(1 0 0);
  --warning-hover: oklch(0.6323 0.1431 31.44);
  --warning-active: oklch(0.5397 0.1474 32.36);
  --information: oklch(0.5768 0.1721 259.73);
  --information-foreground: oklch(1 0 0);
  --information-hover: oklch(0.625 0.1504 259.37);
  --information-active: oklch(0.526 0.1544 259.72);

  --sidebar: oklch(0.24 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.5768 0.1721 259.73);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-secondary: oklch(0.3 0 0);
  --sidebar-secondary-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3 0 0);

  --object-header: oklch(0.22 0 0);
  --object-header-foreground: oklch(1 0 0);

  --table-header: oklch(0.24 0 0);
  --table-header-foreground: oklch(1 0 0);
  --table-hover: oklch(0.2686 0 0);
  --table-hover-foreground: oklch(1 0 0);
  --table-active: oklch(0.2221 0 0);
  --table-active-foreground: oklch(1 0 0);

  --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 3px -2px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 3px 6px -1px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);

  --shadow-control: var(--shadow-xs);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-primary-active: var(--primary-active);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-active: var(--secondary-active);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input-border);
  --color-input-inner: var(--input-background);

  --color-negative: var(--negative);
  --color-negative-foreground: var(--negative-foreground);
  --color-negative-hover: var(--negative-hover);
  --color-negative-active: var(--negative-active);
  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-positive-hover: var(--positive-hover);
  --color-positive-active: var(--positive-active);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-hover: var(--warning-hover);
  --color-warning-active: var(--warning-active);
  --color-information: var(--information);
  --color-information-foreground: var(--information-foreground);
  --color-information-hover: var(--information-hover);
  --color-information-active: var(--information-active);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-secondary: var(--sidebar-secondary);
  --color-sidebar-secondary-foreground: var(--sidebar-secondary-foreground);
  --color-sidebar-border: var(--sidebar-border);

  --color-object-header: var(--object-header);
  --color-object-header-foreground: var(--object-header-foreground);

  --color-table-header: var(--table-header);
  --color-table-header-foreground: var(--table-header-foreground);
  --color-table-hover: var(--table-hover);
  --color-table-hover-foreground: var(--table-hover-foreground);
  --color-table-active: var(--table-active);
  --color-table-active-foreground: var(--table-active-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);

  --shadow-control: var(--shadow-control);

  --radius-control: var(--radius-control);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

* {
  scrollbar-color: var(--color-foreground) transparent;
}

@supports selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--color-foreground);
    border-radius: 0.313rem;
    border: 0.313rem;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield !important;
    appearance: textfield;
  }
  .lucide-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  a:not([data-slot]) {
    @apply text-primary underline-offset-4 hover:underline;
  }
}
