@source inline("{!,}{m,p}{x,y,t,b,l,r,}-{0..12}");
@source inline("{!,}{m,p}{l,r}-auto");
@source inline("{sm:,md:,lg:,xl:}{m,p}{x,y}-{2..12}");

@source inline("flex");
@source inline("flex-{col,row,col-reverse,row-reverse,wrap,1,auto,none}");
.hbox {
  @apply flex flex-row;
}

.vbox {
  @apply flex flex-col;
}

@source inline("justify-{start,center,end,between,around,evenly,stretch}");
@source inline("justify-end-safe");
@source inline("justify-items-{start,center,end,stretch}");
@source inline("content-{start,center,end,between,around,evenly,stretch}");
@source inline("place-content-{start,center,end,between,around,evenly,stretch}");
@source inline("items-{start,center,end,baseline,stretch}");
@source inline("place-items-{start,center,end,stretch}");

@source inline("gap-{x,y}-{1..12}");
@source inline("gap-{1..12}");

@source inline("grid");
@source inline("{sm:,md:,lg:,xl:,}grid-cols-{1..12}");

@source inline("{!,}w-{auto,full,screen,1/2,1/3,1/4,1/5,2/3,2/5,3/4,3/5,4/5}");
@source inline("min-{w,h}-0");
@source inline("max-{w}-{screen,dvw}");
@source inline("{!,}h-{auto,full,screen,1/2}");

@source inline("{!,}size-{4..12}");
@source inline("{!,}h-{4..12}");
@source inline("min-h-{4..12}");
@source inline("max-h-{4..12}");
@source inline("{!,}w-{4..12}");
@source inline("w-{3xs,2xs,xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl}");
@source inline("min-w-{4..12}");
@source inline("min-w-{3xs,2xs,xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,auto}");
@source inline("max-w-{4..12}");
@source inline("max-w-{3xs,2xs,xs,sm,md,lg,xl,2xl,3xl,4xl,5xl,6xl,7xl,auto}");
@source inline("{!,}size-{full,fit}");
.min-size-4 {
  @apply min-h-4 min-w-4;
}
.tile-sm {
  width: calc(var(--spacing) * 37);
  height: calc(var(--spacing) * 37);
}
.tile-md {
  width: calc(var(--spacing) * 44);
  height: calc(var(--spacing) * 44);
}
.tile-lg {
  width: calc(var(--spacing) * 55);
  height: calc(var(--spacing) * 55);
}
.tile-xl {
  width: calc(var(--spacing) * 66);
  height: calc(var(--spacing) * 66);
}
.tile-double-sm {
  width: calc(var(--spacing) * 76);
  height: calc(var(--spacing) * 37);
}
.tile-double-md {
  width: calc(var(--spacing) * 90);
  height: calc(var(--spacing) * 44);
}
.tile-double-lg {
  width: calc(var(--spacing) * 108);
  height: calc(var(--spacing) * 55);
}
.tile-double-xl {
  width: calc(var(--spacing) * 128);
  height: calc(var(--spacing) * 66);
}
.tile-auto-sm {
  max-width: 100%;
  width: auto;
  height: calc(var(--spacing) * 37);
}
.tile-auto-md {
  max-width: 100%;
  width: auto;
  height: calc(var(--spacing) * 44);
}
.tile-auto-lg {
  max-width: 100%;
  width: auto;
  height: calc(var(--spacing) * 55);
}
.tile-auto-xl {
  max-width: 100%;
  width: auto;
  height: calc(var(--spacing) * 66);
}
@source inline("text-{left,right,center,justify,ellipsis,wrap,nowrap}");
@source inline("{!,}text-{xs,sm,base,lg,xl,2xl,3xl,4xl}");
@source inline("font-{bold,semibold,medium,normal,light}");
@source inline("italic");
@source inline("uppercase");
@source inline("lowercase");
@source inline("capitalize");
@source inline("truncate");
@source inline("align-middle");
@source inline("whitespace-{nowrap,pre,pre-wrap}");
@source inline("rotate-{90,180,270}");
@source inline("resize-none");

@source inline("overflow-{auto,hidden,visible,scroll,x-scroll,y-scroll,x-visible,y-visible,x-auto,y-auto,x-hidden,y-hidden}");
@source inline("object-{contain,cover,fill}");
@source inline("float-right");
@source inline("hidden");
@source inline("block");
@source inline("inline");
@source inline("inline-block");
@source inline("inline-flex");
@source inline("cursor-{pointer,text,crosshair,wait,not-allowed,grab,grabbing,none}");
@source inline("{xs:,sm:,md:,lg:,xl:}{hidden,block}");
@source inline("sr-only");
@source inline("box-border");
@source inline("border");
@source inline("border-{l,r,t,b}");
@source inline("shadow-{xs,sm,md,lg,xl,none}");
@source inline("aspect-{square,video,3/2}");
@source inline("absolute");
@source inline("relative");
@source inline("fixed");
@source inline("sticky");
.absolute-fit {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@source inline("opacity-{0,25,50,75,100}");

@source inline("bg-{primary,primary-foreground,secondary,secondary-foreground,muted,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
@source inline("fill-{current,primary,primary-foreground,secondary,secondary-foreground,muted,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
/* prettier-ignore */
@source inline("text-{background,foreground,primary,primary-foreground,secondary,secondary-foreground,muted,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
/* prettier-ignore */
@source inline("border-{background,foreground,primary,primary-foreground,secondary,secondary-foreground,muted,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
