@source inline("{!,}{m,p}{x,y,t,b,l,r,}-{0..12}");
@source inline("{!,}{m,p}{l,r}-auto");
@source inline("{sm:,md:,lg:,xl:}{m,p}{x,y}-{2..12}");

@source inline("flex");
@source inline("flex-{col,row,col-reverse,row-reverse,wrap,1,auto,none}");
.hbox {
  @apply flex flex-row;
}

.vbox {
  @apply flex flex-col;
}

@source inline("justify-{start,center,end,between,around,evenly}");
@source inline("justify-end-safe");
@source inline("justify-items-{start,center,end,stretch}");
@source inline("content-{start,center,end,between,around,evenly,stretch}");
@source inline("place-content-{start,center,end,between,around,evenly,stretch}");
@source inline("items-{start,center,end,baseline,stretch}");
@source inline("place-items-{start,center,end,stretch}");

@source inline("gap-{x,y}-{1..12}");
@source inline("gap-{1..12}");

@source inline("grid");
@source inline("{sm:,md:,lg:,xl:,}grid-cols-{1..12}");

@source inline("{!,}w-{auto,full,screen,1/2,1/3,1/4,1/5,2/3,2/5,3/4,3/5,4/5}");
@source inline("{!,}h-{auto,full,screen,1/2}");

@source inline("{!,}size-{4..12}");
@source inline("{!,}size-full");
.tile-xs {
  width: calc(var(--container-xs) / 2);
  height: calc(var(--container-xs) / 2);
}
.tile-sm {
  width: calc(var(--container-sm) / 2);
  height: calc(var(--container-sm) / 2);
}

.tile-md {
  width: calc(var(--container-md) / 2);
  height: calc(var(--container-md) / 2);
}

.tile-lg {
  width: calc(var(--container-lg) / 2);
  height: calc(var(--container-lg) / 2);
}

@source inline("text-{left,right,center,justify,ellipsis,wrap,nowrap,xs,sm,base,lg,xl,2xl,3xl,4xl}");
@source inline("font-{bold,semibold,medium,normal,light}");
@source inline("italic");
@source inline("uppercase");
@source inline("lowercase");
@source inline("capitalize");
@source inline("truncate");
@source inline("align-middle");
@source inline("whitespace-nowrap");
@source inline("rotate-{90,180,270}");

@source inline("overflow-{hidden,visible,scroll,x-scroll,y-scroll,x-visible,y-visible,x-hidden,y-hidden}");
@source inline("object-{contain,cover,fill}");
@source inline("float-right");
@source inline("hidden");
@source inline("block");
@source inline("sr-only");
@source inline("box-border");
@source inline("border");
@source inline("border-{l,r,t,b}");
@source inline("shadow-{xs,sm,md,lg,xl,none}");
@source inline("aspect-{square,video,3/2}");
@source inline("absolute");
@source inline("relative");
.absolute-fit {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@source inline("fill-{current,primary,primary-foreground,secondary,secondary-foreground,muted,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
/* prettier-ignore */
@source inline("text-{background,foreground,primary,primary-foreground,secondary,secondary-foreground,muted-foreground,negative,negative-foreground,positive,positive-foreground,warning,warning-foreground,information,information-foreground}");
