.harmonia-slider.noUi-horizontal {
  @apply h-2;
}
.harmonia-slider .noUi-handle {
  @apply size-5;
}
.harmonia-slider.noUi-horizontal .noUi-handle {
  @apply top-[-0.438rem] -right-2.5;
}
.harmonia-slider.noUi-vertical {
  @apply w-2;
}
.harmonia-slider.noUi-vertical .noUi-handle {
  @apply right-[-0.438rem] -bottom-2.5;
}
.harmonia-slider.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  @apply right-auto -left-5;
}
.harmonia-slider.noUi-target {
  @apply shadow-control border-input bg-input-inner rounded-full border;
}
.harmonia-slider .noUi-connects {
  @apply rounded-full;
}
.harmonia-slider .noUi-connect {
  @apply bg-primary;
}
.harmonia-slider .noUi-handle {
  @apply shadow-control ring-ring/50 bg-background border-primary size-5 cursor-pointer rounded-full border-2 hover:ring-4 focus-visible:ring-4 active:ring-4;
}
.harmonia-slider .noUi-active {
  @apply shadow-control;
}
.harmonia-slider[auto-hide-tips="true"] .noUi-tooltip {
  display: none;
}
.harmonia-slider[auto-hide-tips="true"] .noUi-active .noUi-tooltip {
  display: block;
}
.noUi-handle:before,
.noUi-handle:after {
  display: none;
}
.harmonia-slider[disabled] .noUi-connect {
  @apply bg-muted;
}
.harmonia-slider[disabled] .noUi-handle {
  @apply border-muted;
}
.harmonia-slider .noUi-pips {
  @apply text-foreground;
}
.harmonia-slider .noUi-value-sub {
  @apply text-foreground text-xs;
}
.harmonia-slider .noUi-pips-horizontal {
  height: 100%;
  padding: 0.625rem 0 0 0;
}
.harmonia-slider .noUi-tooltip {
  @apply bg-background text-foreground absolute block rounded-md border-1 px-2 py-0.5 text-center whitespace-nowrap shadow-md;
}
.harmonia-slider.noUi-horizontal .noUi-tooltip {
  bottom: 140%;
}
.harmonia-slider.noUi-vertical .noUi-tooltip {
  right: 140%;
}
.harmonia-slider.noUi-horizontal .noUi-origin > .noUi-tooltip {
  bottom: 10px;
}
.harmonia-slider.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}
