:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-yellow-1);
  --vp-c-brand-2: var(--vp-c-yellow-2);
  --vp-c-brand-3: var(--vp-c-yellow-3);
  --vp-c-brand-soft: var(--vp-c-yellow-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --vp-home-hero-name-color: #e58906;

  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

a.card {
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid var(--vp-c-divider);
  border-radius: 12px;
  background: var(--vp-c-bg-soft);
  transition: border-color 0.2s;
}

.card:hover {
  border-color: var(--vp-c-brand);
}

.card-media {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 10;
  background-color: var(--vp-c-bg);
}

.card-media > svg {
  width: 100%;
  height: 100%;
  fill: var(--vp-c-text-1);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--vp-c-divider);
  padding: 1rem;
  color: var(--vp-c-text-1);
}

.card-content h3 {
  padding: 0;
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

.card-content p {
  margin: 0;
  flex-grow: 1;
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}
